@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #050505;
    --foreground: #EAEAEA;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-inter), sans-serif;
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #D4AF37;
}

.glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}